

.btn{    
    border-radius: 12px ;    
    opacity: 0px;

    /* BackgroungColor */
    background: #121212;

    /* Color */
    border: 1px solid #34C94B
}

.btn:hover{
    cursor: pointer;
}

.btn p{
    font-family: Poppins;
    /* font-size: 18px; */
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    /* Color */
    color: #34C94B;
}