/* :root{
    max-width: fit-content;
} */


.blackBackground{
    background-color: black;
    /* padding: 20px; */
    width: auto;
    /* margin: auto; */
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    margin-bottom: -30px;
}

.padding{
    padding: 0 5rem;
}

.bottomMargin{
    margin-bottom: 2rem;
}